.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn__color {
  --background: #3592c6;
}

.btn__home {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 3;
}

.btn__download {
  bottom: 14px;
}

.btn__endTrip {
  bottom: 100px;
  left: 40px;
}

.btn__planTrip {
  bottom: 100px;
  left: 40px;
}

.btn__center {
  bottom: 30px;
  left: 40px;
}

.list__fixed {
  max-height: 390px;
  overflow-y: auto;
}

.leaflet-popup {
  z-index: 2;
  min-width: 200px;
}

.popup__text__center {
  display: flex;
  align-items: center;
}

.popup__text__center ion-text {
  margin-left: 1em;
}
