.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.status-container__text {
    padding-top: 10px;
}

.status-container__image {
    height: 450px;
    width: 450px;
}

.status-container__credentials {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    font-style: italic
}